* {
    padding: 0;
    margin: 0;
}

main {
    background-color: black;
    width: 600px;
    height: 400px;
    display: flex;
}

#block1{
    height: 400px;
    width: 200px;
    margin-right: 8px;
    flex-direction: column;
}

#block2{
    height: 400px;
    width: 244px;
    background: white;
    display: flex;
}

#block3{
    height: 400px;
    width: 140px;
    background: red;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

#block-01-a{
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin-bottom: 8px;
}

#block-01-b{
    height: 192px;
    width: 200px;
    background: blue;
}

#block-01-c{
    height: 100px;
    width: 50%;
    background: grey;
    border: black;
    border-width: 0 8px 8px 0;
    border-style: solid;
}

#block-02-a{
    height: 100px;
    width: 122px;
    background-color: green;
    border: black;
    border-width: 0 0 8px 0;
    border-style: solid;
}

#block-02-b{
    height: 100px;
    width: 122px;
    background: orange;
    border: black;
    border-width: 0 0 8px 8px;
    border-style: solid;
}

#block-03-a{
    height: 100px;
    width: 100%;
    background: magenta;
    border: black;
    border-width: 8px 0 0 0;
    border-style: solid;
    margin-top: auto;
}