* {
    margin:0;
    padding:0;
}

/* FONTS */

p,h1,h2,h3 {
 font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
}

h3 {
    margin: 0 0 30px 0;
    font-size: 30px;
}

p {
    font-size: 20px;
    margin: 0 0 20px 0;
}

/* NAVIGATION */

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34495e;
  }
  
nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
}

nav ul li a p {
    font-size: 15px;
    margin: 0;
}

nav ul li a:hover {
    background-color: #2c3e50;
}

/* FLEX */

body {
    margin: 250px 0 0 0;
    background-color: #f39c12;
}

header, main, footer {
    margin: 0 2em;
}

section.flex {
    display: flex;
    padding: 10em 0 0 0;
}


footer {
    padding: 50px 0;
}

footer p {
    float: right;
}

footer a {
    float: left;
}

/* Details */
img {
    height: 50%;
    width: 50%;
    margin-left: 2.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
}